/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-size: 62.5%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}
@media (max-width: 501px) {
  .container {
    max-width: 90%;
  }
}
nav {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav a {
  text-decoration: none;
  font-size: 2rem;
}
@media (max-width: 501px) {
  nav a {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 501px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
header {
  width: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .banner {
  align-items: center;
}
header .banner h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 3rem;
}
header .banner h4 {
  font-size: 1.5rem;
}
header h4 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 501px) {
  header {
    width: 95%;
  }
}
section {
  margin-top: 10px;
  margin-bottom: 10px;
}
#intro .introdiv {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 45%;
}
#intro .introdiv h2 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
#intro .introdiv p {
  font-size: 1.5rem;
}
@media (max-width: 501px) {
  #intro .introdiv {
    width: 90%;
  }
}
#skills {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#skills .skillsleft {
  background: #00FFFF;
  width: 45%;
}
#skills .skillsleft:hover {
  background: #00cccc;
}
@media (max-width: 501px) {
  #skills .skillsleft {
    display: none;
  }
}
#skills .skillsright {
  text-align: right;
  border-right: 10px solid lightgrey;
}
#skills .skillsright h2 {
  font-size: 2rem;
  margin-top: 7px;
  margin-bottom: 15px;
}
#skills .skillsright ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#skills .skillsright ul li {
  font-size: 1.2rem;
  margin-top: 4px;
  margin-bottom: 4px;
}
@media (max-width: 501px) {
  #skills .skillsright {
    text-align: left;
  }
}
#experience {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}
@media (max-width: 501px) {
  #experience {
    width: 100%;
  }
}
#experience h2 {
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 90%;
}
#experience .column {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#experience .column h4 {
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 27px;
}
#experience .column ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#experience .column ul li {
  margin-top: 2px;
  margin-bottom: 12px;
  font-size: 1.2rem;
}
