@import './pieces/reset.less';
@import './pieces/mixins.less';
.container {
	@media (max-width: 501px) {
		width: 90%;
	}
}
nav {
	width: 80%;
	.flexbox(row, space-around);
	a {
		text-decoration: none;
		font-size: 2rem;
	}
}
header {
	.flexbox(column, space-between, center);

}